body{
    margin: 0;
    padding: 0;
    background-size: 100%;
    font-family: verdana, monospace;
    color: dimgray;
    font-size: 16px;
}
.main_container{
    height: 100vh;
    background: url(images/back.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    height: 600px;
    width: 70vw;
    background-color: #cbc6b4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color_container{
    display: flex;
    margin-top: 75px;
}
.selects_container{
    display: flex;
    width: 50vw;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.week_container{
    display: flex;
    justify-content: space-between;
    width: 35vw;
}
.border_green {
    border: 4px solid #3bdb21;
}
.border_white {
    border: 4px solid white;
}
option, select {
    color: #333;
    border: none;
    cursor: pointer;
}
select {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 15vw;
}
.day_button, .color_button {
    padding-top: 5px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.active_button {
    background-color: white;
    border-radius: 2px;
}
.color_button{
    margin-left: 25px;
    margin-right: 25px;
}
select:hover{
    background-color: #f7f7f7;
}
.line{
    width: 3vw;
    height: 2px;
    background-color: #333;
    margin-top: 40px;
    margin-bottom: 40px;
}
.schedule {
    width: 50vw;
    overflow-y: scroll;
}

@media screen and (max-width: 750px){
    .form{
        height: 90vh;
        width: 90vw;
    }
}

@media screen and (max-width: 600px){
    .color_container{
        margin-top: 25px;
    }
    .color_button{
        margin-left: 10px;
        margin-right: 10px;
    }
    .selects_container{
        width: 80vw;
    }
    select {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 25vw;
    }
    .week_container{
        width: initial;
        font-size: 12px;
    }
    .line{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .schedule{
        width: 80vw;
        font-size: 14px;
    }
}